@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.section1{
    background-color: #E9FAFC;
}
nav{
    text-align: right;
    align-items: right;
    padding: -10%;
    margin-top: -10%;
}
nav li{
    display: inline;
    padding: 10px;
    list-style: none;
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-size: x-small;
}
.header{
    margin-left: 5%;
  margin: 3%;
  padding: 2%;
  font-weight: bold;
  font-size: small;
}
.title{
    color: rgb(233, 154, 8);
  margin-top: 6%;
  margin-left: 5%;
  font-weight: bold;
  font-size: xx-small;
  font-style:initial ;
}
.family{
    margin-left: 5%;
    color: rgb(24, 24, 71);
    font-weight: bolder;
    font-size: 160%;
}
.duty h2{
    color: rgb(105, 105, 252);
    margin-left: 5%;
    margin-top: -1%;
    font-size: x-small;
}
button{
    background-color: rgb(34, 170, 170);
    border-radius: 10px;
    height: 34px;
    width:130px ;
    font-size: 14px;
    color: white;
    border-color: rgb(34, 170, 170); 
    margin-left: 5%;
}
.img1  img{
    border: solid 2px rgb(120, 211, 238);
    margin-left: 50%;
    margin-top: -29%;
    height: 250px;
    width: 250px;
    border-radius:50%;
    border-width: 30px
}
.section2{
    background-color: rgb(235, 250, 250);
}
.subtitle{
    margin-left: 5%;
    margin-top: -1%;
    font-weight: bolder;
    font-size: 120%;
}
.service h6{
    color: rgb(113, 113, 243);
    font-weight: lighter;
    margin-left: 60%;
    margin-top: -5%;
    font-size: x-small;
}
.sub1 h3{
    font-weight: bolder;
    font-size: 120%;
    margin-left: 6%;
    margin-top: 40%;
    color: rgb(31, 31, 48);
}
.sub1 p{
    font-weight: lighter;
  margin-top: -4%;
  font-size: 80%;
  color: rgb(87, 87, 158);
  margin-left: -30%;
  padding-left: 4%;
 
}
.sub1{
    height: 30%;
    width: 23%;
    border:none;
    background-color: white;
    position: relative;
    margin:auto;
    padding-top: 1%;
    font-size: 10px;
}

.upper{
    display: flex;
    margin-bottom: 3%;
}
.lower{
    display: flex;

}
.section2 p{
    margin-left: 2%;
}
.section3{
    background-color:#E9FAFC;
}
.img2 img{
    height: 250px;
    width: 350px;
    padding-top: -1%;
    margin-left: -16%;
    margin-top: 5%;
}
.img2{
    background-color: aquamarine;
    border-radius: 2%;
    height: 263px;
    width: 250px;
    margin: auto;
    margin-right: 60%;
    margin-top: 10%;
}
.heading h2{
    margin-left: 50%;
    margin-top: -37%;
    color: rgb(24, 24, 71);
}
.heading p{
    font-size: xx-small;
    margin-left: 50%;
    color: rgb(87, 87, 158);
}
.heading button{
    margin-left: 50%;
    margin-top: 2%;
}
.feedback h2{
    margin-top: 18%;
    font-size: 135%;
    margin-left: 5%;
    color: rgb(24, 24, 71);
    font-weight: bolder;
}
.feedback p{
    margin-left: 68%;
    font-size: 30%;
    margin-top: -6%;
    color: rgb(105, 105, 252);
    font-weight: normal;
}
/* .comment{
height: 300px;
width: 60%;
background-color: white;
margin:auto;
font-size: 10px;
margin: 30px;
padding-bottom: -28%;
margin-top: 20%;
margin-right: 30%;

} */
.section4{
    background-color:#E9FAFC;
}
/* .bottom{
    display: flex;
    margin: auto;
} 
.comment{
    background-color: #ffffff;
    width: 52%;
    height: 40%;
    margin: 2%;
    margin: auto;
    margin-bottom: 4%;
    margin-right: 10%;
    display: flexbox; 
}
.comment{
    background-color: #ffffff;
    width: 52%;
    height: 40%;
    margin: 2%; */
/* } */
 /* .bottom{

    display: flex;
    padding: 50px;
    background-color:lightcoral;

 }
 .comment{
background-color: #FFFFFF;
padding: 10px;
margin: auto;
align-items: center;
height: 50%;
width: 40%;

 }
 .comment h3{
     font: size 60px;
 } */

.conclusion h3{
font-size:50%;
/* margin-top: 35%; */
margin-left: 8%;
color: rgb(31, 31, 48);
font-weight: bolder;
} 
.icon1{
    margin-left: 8%;
    color: rgb(179, 223, 208);
}
.conclusion p{
    font-size: 1px;
    color: rgb(87, 87, 158);
    margin-left: 8%;
    font-weight: 100;
}
.conclusion{
    border:solid 0.5px;
    background-color: #ffffff;
height: 300px;
width: 350px;
}
.comment h3{
    color: rgb(31, 31, 48);
    font-size: 80%;
    margin-left: 16%;
    margin-top: 2%;
    /* display: contents; 
    display: inline; 
    */
}
.icon2{
    margin-left: 15%;
    color: rgb(179, 223, 208);
    
}
.comment p{
    color: rgb(87, 87, 158);
    font-size: 6%;
    margin-left: 16%;
    margin-top: -1%; 
 
}
.comment{
border: solid 0.5px;
background-color: #ffffff;
height: 300px;
width: 355px;
margin-left: 50%;
margin-top: -42.2%;
} 
